{% extends 'main.html' %}
{% block content %}

{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UNMetApp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/styles/home.css' %}">
    </head>
    <body>

        <div class="header-bar">
            <div>
                <h1>Hello {{ request.user}}</h1>
            </div>
        
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login'  %}">Login</a>
        {% endif %}
        </div>

        <div id="search-add-wrapper">
            <a id="add-link" href="{% url 'bisectoutput-create' %}">Bisect</a>
            <a id="add-link" href="{% url 'boolerloutput-create' %}">Boolerl</a>
            <a id="add-link" href="{% url 'jacobi-create' %}">Jacobi</a>
            <a id="add-link" href="{% url 'rk4-create' %}">RK4</a>
        </div>
        <p>Do you want view something about any methods? Click here and check his section: <a href="{% url 'help'  %}"><b>Help</b></a></p>

        
        <p> Number of use by method: </p>
        <p>- <b>Bisect</b> have been used {{ bisect_count }} times.</p>
        <p>- <b>Jacobi</b> have been used {{ jacobi_count }} times.</p>
        <p>- <b>Boolerl</b> have been used {{ boolerl_count }} times.</p>
        <p>- <b>Runge-Kutta 4</b> have been used {{ rk4_count }} times.</p>
        
        <div class="task-items-wrapper">
            {% for method in methods %}
                <div class="task-wrapper">
                    <div class="task-title">
                        <div class="task-incomplete-icon"></div>
                        
                        {% if method.isBisect %}
                        <a class="inputs" href="{% url 'bisectoutput-update' method.bisect.id %}">{{method.inputs}}</a>
                        {% elif method.isBoolerl %}
                        <a class="inputs" href="{% url 'boolerloutput-update' method.boolerl.id %}">{{method.inputs}}</a>
                        {% elif method.isJacobi %}
                        <a class="inputs" href="{% url 'jacobi-update' method.jacobi.id %}">{{method.inputs}}</a>
                        {% elif method.isRK4 %}
                        <a class="inputs" href="{% url 'rk4-update' method.rk4.id %}">{{method.inputs}}</a>
                        {% endif %}
                        <a class="outputs">{{method.outputs}}</a>
                        <a class="date_use">{{method.date_use}}</a>
                    </div>
                     <a class="delete-link" href="{% url 'methods-delete' method.id %}">&#215;</a>
                </div>
            {% empty %}
            <h3> No Numerical Method History </h3>
            {% endfor %}
        </div>
        
        <div class="ftrtxt">
            <p>&#9886; by Equipo 14: David Garcia Blandón; David Andrés Cano Gonzales; Denilson Andrés Molina Truyot; Sebastian Gaviria Montoya &#9887;</p>
        </div>
    </body>
</html>

{% endblock content %}