.task-wrapper {
    background-color: #F0F0F0; /* Cambia el color de fondo al que desees */
    padding: 30px; /* Ajusta el relleno según tus preferencias */
    border: 1px solid #0c0808; /* Agrega un borde alrededor del icono */
    border-radius: 5px; /* Para darle esquinas redondeadas */
    display: inline-flex; /* Para que el icono esté en línea con el texto */
    color: black;
}

.task-items-wrapper{
    color:black;
    font-size: 18px;
}

#add-link {
    color: (#b2e0ba);
    text-decoration: none;
    font-size: 24px;
    text-shadow: 1px 1px #94f39c;
}

.container{
    max-width: 850px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.12);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.12);
}

.outputs, .date_use {
    color: #00000028; /* Cambia el color del texto al que desees */
    font-family: Arial, sans-serif; /* Cambia la fuente al que desees */
    font-size: 14px; /* Cambia el tamaño de fuente al que desees */
}

.inputs{
    color: rgb(19, 78, 19); /* Cambia el color del texto al que desees */
    font-family: sans-serif; /* Cambia la fuente al que desees */
    font-size: 18px; /* Cambia el tamaño de fuente al que desees */
}

.delete-link {
    font-weight: 1000;
    color: #09090a;
    font-size: 30px;
    line-height: 0;
}
